@cardWidth:70px;
@cardHeight:100px;
@cardMargin:20px;

body{
  //height:100vh;
  //width:100vw;
  //position:relative;
  //overflow:hidden;
}

//Override
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
     position: static;
}

.z-index-100{
  z-index:10000;
}
.center{
  display:flex;
  justify-content: center;
}

.button-row{
  display:flex;
  justify-content: center;
  position: absolute;
  bottom:0px;
  width:100%;
  left:0px;
}

.button-row button:not(:first-child){
  margin-left:10px;
}

.save-button{
  position: absolute;
    height: 100%;
    top: 0px;
    right: 0px;
}

.deckContainer{
  padding:@cardMargin;
}
.deckContainer.active{
  background-color:#CCE5FF;
}
.deckHeading{
  text-align: center;
}

.deck{
  display:flex;
  text-align:center;
  justify-content: center;
}
.card{
  height: @cardHeight;
  width:@cardWidth;
  position:relative;

}
.card-down{
    color:transparent;
}

.stacks{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
}
.deck.stackCards .card{
  margin-left:(@cardWidth*-1+5px);
}
.deck.stackCards .card:first-child:not(.front-card), .deck.stackCards .front-card+.card{
  margin-left:@cardMargin;
}
.deck.stackCards .card.front-card{
  //position: absolute;
  //height: 80vh;
  //top: 10vh;
  //width: 50vh;
  //left: 50vh;
}

.players{

}
.deckContainer.player{
    perspective:20em;
    position:absolute;
}
.deck.playerCards{
  transform:rotateX(50deg);
}
.deckContainer.player-1{
  bottom:50px;
}

.generate-player-position-indexes(2);

.generate-player-position-indexes(@n, @i: 0) when (@i =< @n) {
  .player-@{i} {
    transform:rotate(((360/@n)*(@i - 1deg)));
  }
  .generate-player-position-indexes(@n, (@i + 1));
}


.deck.playerCards .card{
  margin: auto @cardMargin;
}
.double-card{
  position:absolute;
}
.generate-card-indexes(100);

.generate-card-indexes(@n, @i: 1) when (@i =< @n) {
  .card-@{i} {
    z-index: (1000 - @i);
  }
  .generate-card-indexes(@n, (@i + 1));
}
